@font-face {
    font-family: 'BitterRegular';
    src: url('../webfonts/bitter-regular-webfont.eot');
    src: url('../webfonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/bitter-regular-webfont.woff') format('woff'),
         url('../webfonts/bitter-regular-webfont.ttf') format('truetype'),
         url('../webfonts/bitter-regular-webfont.svg#BitterBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
