@font-face {
    font-family: 'Alegreya';
    src: url('../webfonts/Alegreya-Regular-webfont.eot');
    src: url('../webfonts/Alegreya-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Alegreya-Regular-webfont.woff') format('woff'),
         url('../webfonts/Alegreya-Regular-webfont.ttf') format('truetype'),
         url('../webfonts/Alegreya-Regular-webfont.svg#AlegreyaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}