@mixin prefix($property, $value) {
	-webkit-#{$property}: $value;
	   -moz-#{$property}: $value;
	    -ms-#{$property}: $value;
	     -o-#{$property}: $value;
	        #{$property}: $value;
}
@mixin gradient($value) {
	background: -webkit-#{$value};
	background:    -moz-#{$value};
	background:     -ms-#{$value};
	background:      -o-#{$value};
	background:         #{$value};
}