@import "default.scss";
@import "fontface.scss";
@import "mixins.scss";

$mainColor: #3b5998;
$secondaryColor: #1f4189;

$pattern1: url(texture1.png);

$mainFont: Trebuchet MS, sans-serif;
$secondaryFont: BitterRegular;

$maxWidth: 768px;

/*
	Universal Styles
*/
* {
	@include prefix(box-sizing, border-box);
	position: relative;
}

/*
	Typography
*/
body {
	font-family: $mainFont;
	font-size: 10px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $secondaryFont;
	font-weight: normal;
	margin: 35px 0 5px 0;
	
	&:first-child {
		margin-top: 0;
	}
}
h1 {
	font-size: 3.8em;
}
h2 {
	font-size: 2.6em;
}
h3 {
	font-size: 2.0em;
}
h4 {
	font-size: 1.8em;
}
p, ul, ol, nav {
	font-size: 1.3em;
	margin: 10px 0 0 0;
	line-height: 2em;
}
pre {
	font-size: 1.2em;
	padding: 0 30px;
	line-height: 1.8em;
}
.meta {
	font-size: 1.2em;
}


/*
	Page Styles
*/
a {
	color: $mainColor;
	text-decoration: none;
	
	&:hover,
	&:focus {
		color: $secondaryColor;
		text-decoration: none;
	}
}
body {
	background: $mainColor;
	color: #444;
	margin: 10px auto 20px auto;
	max-width: $maxWidth;
	padding: 0 10px;
}
h1, h2, h3, h4, h5, h6 {
	border-bottom: 1px dotted rgba(0,0,0, .07);
	color: #222;
	padding: 0 0 4px 0;
}
h1 {
	border-bottom: 1px dotted rgba(0,0,0, .07);
}
ul, ol {
	margin-left: 25px;
}
header,
footer {
	margin: 10px 10px;
}
header {
	margin: 15px 10px 10px 10px;
}
nav {
	position: absolute;
	top: -10px;
	right: 0;
	@include prefix(text-shadow, 1px 1px 0px rgba(0,0,0,0.25));
	
	& a {
		color: #eceff5;
		display: inline-block;
		margin-left: 5px;
		padding: 10px;
		text-decoration: none;
		
		&:hover {
			color: #FFF;
			text-decoration: none;
		}
	}
}
.site-title {
	border: 0;
	color: #FFF;
	@include prefix(text-shadow, 1px 1px 0px rgba(0,0,0,0.4));
	
	footer & {
		padding-top: 10px;
	}
}
blockquote {
	font-style: italic;
	padding: 10px 30px;
}
.content {
	background: $pattern1;
	padding: 30px;
	@include prefix(border-radius, 3px);
	@include prefix(box-shadow, 1px 1px 1px 0px rgba(0,0,0,0.3));
}
.meta {
	color: #888;
}


/*
	Media Queries
*/
@media screen and (max-width: 767px) {
	body {
		font-size: 11px;
	}
	.site-title {
		text-align: center;
	}
	nav {
		position: relative;
		text-align: center;
		top: -5px;
		
		& a {
			margin: 0 5px;
		}
	}
}
@media screen and (max-width: 480px) {
	h1.site-title {
		font-size: 2.8em;
	}
}